.root{
    -fx-background-color: #435759;
}
.label {
    -fx-text-fill: #A5B6B8;
    -fx-font-weight: bold;
    -fx-font-size: 17;
}
.button {
    /*when button is highlighted background color is #276d7e*/
    -fx-background-color: #A5B6B8;
    -fx-background-radius: 0;
    -fx-font-size: 17;
    -fx-text-fill: #394B4C;
    -fx-background-size: cover;
    /*-fx-border-width: 5;
     -fx-border-color: black;*/

}
.radio-button{
    -fx-font-size: 15;
    -fx-text-fill: white;
}
.button:hover {
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-text-fill: -fx-text-base-color;
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
}

.text-field {
    -fx-background-color: #DDEDEF;
    -fx-text-fill: #383838;
    -fx-border-radius: 0;

}

.password-field {
    -fx-background-color: #DDEDEF;
}

.scroll-pane {
    -fx-background-color: #383838;
    -fx-border-color: transparent;
}

.scroll-bar {
    -fx-background-color: #383838;
}

.dialog-pane {
    -fx-background-color: #435759;
    -fx-text-fill: #A5B6B8;
}

.dialog-pane .header-panel {
    -fx-background-color: #435759;
}

.dialog-pane .header-panel .label {
    -fx-background-color: #435759;
    -fx-background-radius: 10px;
    -fx-text-fill: #A5B6B8;
    -fx-font-size: 20.0px;
}
.scroll-pane {
    -fx-background: #435759;
}
.myButton:hover {
    -fx-background-color: #dae7f3;
}
.text-area{
    -fx-text-alignment: center;
}
.check-box{
    -fx-font-size: 17;
    -fx-text-fill: #394B4C;
}
.customTableHeader{
    -fx-background-color: teal;
    -fx-text-fill: aliceblue;
    -fx-border-radius: 0;
    -fx-text-alignment: center;
}
.customTableButton{
    -fx-background-color: darkred;
    -fx-background-radius: 0;
    -fx-font-size: 12;
    -fx-text-fill: aliceblue;
    -fx-background-size: cover;
}

